.col-md-4{
  margin-bottom: 10px
}
.main-container{
  position: relative;
}
.card {
    background: #fff;
    border-radius: 2px;
    height: 225px;
    margin: 3rem;
    /* position: relative; */
    width: 250px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  
  }
  
  .card > .img-container {
      margin-top: 10%;
    height: 80%;
    overflow: hidden;
    text-align: center;
    background:#6CADDC;
  }
  .card > .img-container > img {
    width: 60%;
    height: 100%;
  }
  h3{
      color:black;
      height: 20px;
  }